.header{
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #FFFFFF;
}

.header__left,.header__right{
    margin: 10px 60px;
    display: flex;
    align-items: center;
}


.header__logo{
    height: 55px;
}

.header__link{
    color: #000;
    margin-left: 18px;
}

.header__btn{
    margin-left: 18px;
    height: 32px;
    width: 112px;

    background: #fff;   
}

.header__btn--primary{
    background: #FCBF16;
    border: #FCBF16;
}

.header__btn--help{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}